<div class="mt-5">
  <p>Employees</p>
  <div>
    <button class="btn btn-primary float-right">Add Satisfaction Score </button>
  </div>
  <table class="table mt-2">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Experience(Yrs)</th>
        <th scope="col">Position</th>
        <th scope="col">Salary</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees; let i = index">
        <th scope="row">{{(i + 1)}}</th>
        <th scope="row"><input type="radio" name="select" [value]="employee" (click)="selectEmployee(employee)" /></th>
        <td>{{employee.name}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.experience}}</td>
        <td>{{employee.position}}</td>
        <td>{{employee.salary | currency : "EUR" }}</td>
      </tr>
    </tbody>
  </table>
  
  
  <p>
    {{selectedEmployee | json}}
  </p>
</div>
